* {
  box-sizing: border-box;
}

body {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h2 {
  margin: 0;
}

.c-bl {
  color: #178bf6;
}

.c-az {
  color: #37b3ed;
}

.tt-uc {
  text-transform: uppercase;
}

.fw-b {
  font-weight: bold;
}

.line {
  border: 2px solid #ffffff;
  width: 75px;
  border-radius: 10px;
  margin: 10.5px 0 12px 0;
}

/* HEADER */

header {
  display: flex;
  color: #ffffff;
  background-color: #178bf6;
  box-shadow: 0px 5px 7px rgba(23, 139, 246, 0.3);
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
  width: 100%;
}

header * {
  margin: 0 18px;
}

header .spacing {
  width: 20px;
}

.header__title {
  font-size: 24px;
  line-height: 33px;
}

/* EVENT FEED */

.event__list {
  overflow: scroll;
  overflow-x: hidden;
  height: 94vh;
  background-color: #e5e5e5;
}

.event__list li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* EVENT CARD */

.event__card {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
  flex-wrap: wrap;
  border-radius: 10px;
  background-color: #ffffff;
  margin: 6px 0;
  height: 130px;
}

.event__card--panel,
.event__card--content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.event__card--panel {
  flex-direction: row;
  width: 20%;
}

.event__card--content {
  width: 70%;
  display: flex;
  align-items: center;
}

.event__card--button-slide {
  width: 10%;
}

.icon--sport {
  width: 50px;
  height: 50px;
}

.event__card--map {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #b4d0d0;
  opacity: 0;
  top: 0;
  right: -100%;
  z-index: 1;
  transition: 0.3s all ease-in-out;
}

.event__card--map-active {
  right: 0 !important;
  opacity: 1 !important;
}

.map__container {
  width: 80%;
  height: 80%;
}

.event__card--description {
  display: none;
  position: absolute;
  background-color: white !important;
}

.event__card--instant-join {
  background-image: url(/assets/instantJoin.svg);
  background-repeat: no-repeat;
  width: 0;
  height: 0;
  padding: 11.5px;
}

.event__card--screen_dots {
  position: absolute;
  display: flex;
  bottom: 5px;
  left: 50%;
}

.event__card--dot {
  display: block;
  padding: 2px;
  background-color: rgba(99, 103, 124, 0.5);
  z-index: 3;
  margin: 0 2px;
  border-radius: 50%;
  transition: background-color 0.2s ease-in-out;
}

.event__card--dot-alt {
  background-color: #178bf6;
}

/* NAVBAR */

.navbar__list {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.navbar__item {
  text-decoration: none;
  color: black;
  background-color: #ccc;
  border: 1px solid black;
  width: 25%;
  text-align: center;
  padding: 10px 0;
}

/* NEW EVENT FORM */

.event__form {
  display: flex;
  flex-direction: column;
}

/* Event form sport picker */

.event__form--input-sport {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
.event__form--label-sport {
  -webkit-appearance: push-button;
  -moz-appearance: button;
  display: inline-block;
  cursor: pointer;
}

.event__form--list-sport li {
  cursor: pointer;
  width: 50%;
  height: 50%;
}

/* Default State */

.event__form--list-sport {
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: -100vh;
  z-index: -2;
  opacity: 0;
  width: 100vw;
  height: 100vw;
  transition: all 0.3s ease-in-out;
}

.event__form--list-sport .icon--sport {
  width: 50%;
  height: 50%;
}

/* Toggled State */
.event__form--input-sport:checked ~ .event__form--list-sport {
  z-index: 5;
  opacity: 1;
  top: 20px;
}

/* Event form skill level */

.event__form--rating--container,
.user__rating--input--container {
  display: flex;
  align-items: center;
}

.event__form--rating,
.user__rating--input {
  display: inline-block;
  position: relative;
  height: 50px;
  line-height: 50px;
  font-size: 30px;
}

.event__form--rating label,
.user__rating--input label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  cursor: pointer;
}

.event__form--rating label:last-child,
.user__rating--input label:last-child {
  position: static;
}

.event__form--rating label:nth-child(1),
.user__rating--input label:nth-child(1) {
  z-index: 5;
}

.event__form--rating label:nth-child(2),
.user__rating--input label:nth-child(2) {
  z-index: 4;
}

.event__form--rating label:nth-child(3),
.user__rating--input label:nth-child(3) {
  z-index: 3;
}

.user__rating--input label:nth-child(4) {
  z-index: 2;
}

.user__rating--input label:nth-child(5) {
  z-index: 1;
}

.event__form--rating label input,
.user__rating--input label input,
.event__form--list-sport li input,
.filter__sport__list input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.event__form--rating label .icon--rating,
.user__rating--input label .icon--rating {
  float: left;
  color: transparent;
}

.event__form--rating label:last-child .icon--rating,
.user__rating--input label:last-child .icon--rating {
  color: #000;
}

.event__form--rating:not(:hover) label input:checked ~ .icon--rating,
.user__rating--input:not(:hover) label input:checked ~ .icon--rating,
.event__form--rating:hover label:hover input ~ .icon--rating,
.user__rating--input:hover label:hover input ~ .icon--rating {
  color: #2196f3;
}

.event__form--rating label input:focus:not(:checked) ~ .icon--rating:last-child,
.user__rating--input
  label
  input:focus:not(:checked)
  ~ .icon--rating:last-child {
  color: #000;
  text-shadow: 0 0 5px #2196f3;
}

/* Event form instant join checkbox */

.event__form--switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.event__form--switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.event__form--switch--slider {
  align-items: center;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 18px;
}

.event__form--switch--slider:before {
  position: absolute;
  content: "No";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

.event__form--switch input:checked + .event__form--switch--slider {
  background-color: #2196f3;
}

.event__form--switch input:checked + .event__form--switch--slider:before {
  content: "Yes";
}

.event__form--switch input:focus + .event__form--switch--slider {
  box-shadow: 0 0 1px #2196f3;
}

.event__form--switch input:checked + .event__form--switch--slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.ol-overlaycontainer-stopevent {
  display: none;
}

/* FILTER BAR */

/* TODO: width less than 100% */
/* 
  button colors will get set after merging with 
  aamanzi_ui_login-screen branch
*/

.filter__list {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin: 0 10px;
}

.filter__list__item {
  width: 33.3333%;
  display: flex;
  justify-content: center;
  background-color: #ccc;
  border: 1px solid black;
  cursor: pointer;
  border-radius: 0 !important;
}

.filter__list__item:nth-child(1) {
  border-radius: 10px 0 0 10px !important;
}

.filter__list__item:nth-child(3) {
  border-radius: 0 10px 10px 0 !important;
}

.filter__sport {
  overflow: scroll;
  height: 80%;
}

.filter__sport__list {
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
}

.filter__sport__list li {
  background: #ffffff;
  box-shadow: 0px 0px 12px rgba(12, 72, 128, 0.6);
  border-radius: 10px;
  margin: 12.5px 35px;
  width: calc(50% - 52.5px);
  height: 135px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.filter__sport__list li:nth-child(1),
.filter__sport__list li:nth-child(2) {
  margin-top: 35px;
}

.filter__sport__list li:nth-child(odd) {
  margin-right: 17.5px;
}

.filter__sport__list li:nth-child(even) {
  margin-left: 17.5px;
}

/* modal */

.modal__cover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  background-color: #453d3d77;
}

.modal__content {
  margin: auto;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  background-color: #fff;
}

.modal__content-full {
  position: relative;
  margin: 0;
  width: 100%;
  height: 95%;
  background-color: #178bf6;
  border-radius: 0px 0px 10px 10px;
}

.modal__cover-right {
  position: absolute;
  opacity: 0;
  top: 0;
  bottom: 0;
  right: -100%;
  left: 100%;
  z-index: 100;
  transition: right 0.2s ease-in-out, opacity 0.2s ease-in-out,
    left 0.2s ease-in-out;
  background-color: #ffffff;
}

.modal__cover-right--active {
  right: 0;
  left: 0;
  opacity: 1;
}

/* Login screen */

h1 {
  font-weight: bold;
  margin: 0;
}

h2 {
  text-align: center;
}

p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

span {
  font-size: 12px;
}

a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

.button {
  border-radius: 20px;
  border: 1px solid #ff4b2b;
  background-color: #ff4b2b;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

.button:active {
  transform: scale(0.95);
}

.button:focus {
  outline: none;
}

.button.ghost {
  background-color: transparent;
  border-color: #ffffff;
}

.form-login {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

.input-login {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

.login__screen--container {
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  max-width: 100%;
  min-height: 480px;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.log-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.login__screen--container.right-panel-active .log-in-container {
  transform: translateX(100%);
}

.sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.login__screen--container.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.login__screen--container.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

.overlay {
  background: #ff416c;
  background: -webkit-linear-gradient(to right, #ff4b2b, #ff416c);
  background: linear-gradient(to right, #ff4b2b, #ff416c);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #ffffff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.login__screen--container.right-panel-active .overlay {
  transform: translateX(50%);
}

.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-left {
  transform: translateX(-20%);
}

.login__screen--container.right-panel-active .overlay-left {
  transform: translateX(0);
}

.overlay-right {
  right: 0;
  transform: translateX(0);
}

.login__screen--container.right-panel-active .overlay-right {
  transform: translateX(20%);
}

.social-container {
  margin: 20px 0;
}

.social-container a {
  border: 1px solid #dddddd;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
}

.button--back {
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 101;
}

@media screen and (max-width: 1023px) {
  .event__card--button-slide {
    display: none;
  }
}
